
body {
  background-color: #03427f;
    color:white ;
  font-family: sans-serif;
  margin: 0 auto;
  max-width: 1280px;
}

.mainpage {
  margin: 0 auto;
}
.imagemain{
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.centereddiv{
  width: 50%;
  margin: 0 auto;
  text-align: center;
}